.intro {
font-family: 'Times New Roman', Times, serif;
text-decoration-line: underline;
font-style: italic;
text-align: center;
color: purple;
}

img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
  width: 300px;
  float: left;
}