.intro {
font-family: 'Times New Roman', Times, serif;
text-decoration-line: underline;
font-style: italic;
text-align: center;
color: purple;
}
img {
  size: 50%;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
  float: left;
  width: 300px;
}

.column img {
  float: left;
  width: 95%;
}